.group-tests {
  margin-top: 20px;
  animation: show 0.4s ease-out;
}

.group-tests-list {
  display: grid;
  gap: 10px;
  grid-template-columns: 45% 45%;
}

.group-tests-load {
  margin: 30px;
}

.group-tests-load-btn-content:hover {
  color: var(--light-blue-color);
}

.group-tests-load-btn-content {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  color: var(--shadow-color);
  transition: all .3s;
  cursor: pointer;
}

.group-edit-open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--font-family);
  color: var(--shadow-color);
  cursor: pointer;
}

.group-edit-open-btn__content {
  margin: 0 30px;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}