.timer-main {
  border-radius: 16px;
  padding: 10px;
  border: 2px solid var(--shadow-color);
}

.timer-wapper {
  text-align: center;
}

.timer-time {
  color: var(--light-blue-color);
  text-align: center;
}