<div class="send-feedback-main">
  <div class="send-feedback-wrapper">
    <div class="send-feedback-header">
      <div>
        <app-primary-button [btnConfiguration]="{
          Text: '🗙',
          BackgroundColor: 'var(--error-color)',
          BorderColor: 'var(--dark-error-color)',
          BorderWith: 2,
          FontSize: 18,
          HoverBackgroundColor: 'var(--error-color)',
          HoverColor: 'var(--primary-write-color)',
          TextColor: 'var(--primary-write-color)'}"
          (handleClick)="handleCloseForm()">
        </app-primary-button>
      </div>
    </div>
    <div class="send-feedback-form">
      <section class="send-feedback-form__input">
        <p>Describe your impressions after the test</p>
        <app-large-input [inputConfiguration]="{
            Value: form.Text,
            IsReadonly: false,
            InputName: 'text',
            PlaceHolder: '',
            ErrorMessage: errorForm.TextError
          }"
          (onChange)="form.Text=$event"
          (clearError)="handleClearErrorForm()"
          ></app-large-input>
      </section>
      <section class="send-feedback-form__input">
        <p>Rating</p>
        <app-feedback-rating 
          [rating]="form.Rating"
          (change)="form.Rating=$event"
        ></app-feedback-rating>
      </section>
      <section class="send-feedback-form__input">
        <p>Describe it in pictures</p>
        <app-file-input [inputFileConf]="{
          BackgroundColor: 'var(--primary-black-color)',
          BackgroundFocusColor: 'var(--light-blue-color)',
          BorderColor: 'var(--shadow-color)',
          BorderFocusColor: 'var(--light-blue-color)',
          TextColor: 'var(--shadow-color)',
          TextFocusColor: 'var(--primary-black-color)'
        }"
        (fileChange)="form.Images=$event">
        </app-file-input>
      </section>
      <section class="send-feedback-form__error">
          @if (errorForm.CommonError !== "") {
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#ee5555"><path d="M480-280q17 0 28.5-11.5T520-320q0-17-11.5-28.5T480-360q-17 0-28.5 11.5T440-320q0 17 11.5 28.5T480-280Zm-40-160h80v-240h-80v240Zm40 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
            {{errorForm.CommonError}}
          }
        </section>
      <div class="send-feedbacl-form__btn-wrapper">
        <app-primary-button [btnConfiguration]="{
          Text: 'Send',
          BackgroundColor: 'var(--light-blue-color)',
          BorderColor: '#2da0d6',
          BorderWith: 2,
          FontSize: 18,
          HoverBackgroundColor: 'var(--light-blue-color)',
          HoverColor: 'var(--primary-black-color)',
          TextColor: 'var(--primary-black-color)'}"
          (handleClick)="handleSendFeedback()">
        </app-primary-button>
      </div>
    </div>
  </div>
</div>